

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A0B2E; 
    color: #ffffff;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* shared styles */

/* Gradient */
.logo {
    font-size: 24px;
    font-weight: 700;
}

.logo span, .section-title {
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

/* Buttons */
.btn-gradient {
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
}

.btn-gradient:hover {
    transform: scale(1.05);
}

.btn-outline {
    background: transparent;
    border: 2px solid #00FF88;
    padding: 10px 25px;
    border-radius: 50px;
    color: #00ffcc;
    font-weight: 600;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn-outline:hover {
    background: #00FF88;
    color: black;
}

.btn-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.section-title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    background: none; 
    -webkit-text-fill-color: white;
    font-weight: 700;
}

.section-desc {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 40px;
    color: #ccc;
    line-height: 1.6;
}

.navbar {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #cb8ef6;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    font-size: 14px;
    color: #FFFFFF;
}

.nav-links a:hover {
    color: #ff00cc;
}

.menu-icon {
    display: none; 
}

.menu-icon img {
    width: 30px;
    cursor: pointer;
}


.hero-section {
    background-image: url('../assets/hero-bg.png'); 
    background-size: cover;
    background-position: center;
    padding: 140px 0 80px;
    text-align: center;
    position: relative;
}

.podcast-circle-container {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto 100px;
}

.hero-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.hero-mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px; 
}

.badge-new {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00FF88;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    transform: translate(-70%, 30%); 
    box-shadow: 0 0 10px #00FF88;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 700;
}

.tagline {
    font-size: 16px;
    color: #aaa;
    margin-bottom: 30px;
}




@media (max-width: 1199px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 768px) {
    
    .nav-links, .desktop-btn {
        display: none; 
    }
    
    .menu-icon {
        display: block; 
    }

    .hero-content h1 {
        font-size: 32px;
    }
    
    .hero-buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .btn-outline {
        margin-left: 0;
    }
    
    

    
}