

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A0B2E; 
    color: #ffffff;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


.logo {
    font-size: 2rem;
    font-weight: 700;
}

.logo span, .section-title {
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.btn-gradient {
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
}

.btn-gradient:hover {
    transform: scale(1.05);
}

.btn-outline {
    background: transparent;
    border: 2px solid #00FF88;
    padding: 10px 25px;
    border-radius: 50px;
    color: #00ffcc;
    font-weight: 600;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn-outline:hover {
    background: #00FF88;
    color: black;
}

.btn-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.section-title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    background: none; 
    -webkit-text-fill-color: white;
    font-weight: 700;
}

.section-desc {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 40px;
    color: white;
    line-height: 20px;
}

.navbar {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.1); 
}

/* #cb8ef6 */

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    font-size: 14px;
    color: #FFFFFF;
}

.nav-links a:hover {
    color: #ff00cc;
}

.menu-icon {
    display: none; 
}

.menu-icon img {
    width: 30px;
    cursor: pointer;
}


.hero-section {
    background-image: url('../assets/hero-bg.png'); 
    background-size: cover;
    background-position: center;
    padding: 140px 0 80px;
    text-align: center;
    position: relative;
}

.podcast-circle-container {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto 100px;
}

.hero-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.hero-mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px; 
}

.badge-new {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00FF88;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    transform: translate(-70%, 30%); 
    box-shadow: 0 0 10px #00FF88;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 700;
}

.tagline {
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}

.about-section {
    padding: 80px 0;
    text-align: center;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.stat-item h3 {
    font-size: 36px;
    color: #00ffcc;
    margin-bottom: 5px;
}

.stat-item p {
    color: #aaa;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.why-choose-section {
    padding: 80px 20px;
    background: #230E3D;          
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #ffffff;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    gap: 24px;
    max-width: 1100px;
    margin: 0 auto;
}

.feature-card {
    background-color: rgba(53, 17, 101, 0.4);
    padding: 32px 28px;
    border-radius: 40px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.feature-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.icon-box img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-bottom: 24px;
}

.feature-card h3 {
    font-size: 1.4rem;
    margin-bottom: 12px;
    color: #ffffff;
}

.feature-card p {
    font-size: 1rem;
    color: #c0c0e0;
    line-height: 1.6;
}

.features-grid {
        grid-auto-rows: 260px;   
    }

    #card-1 {
        grid-column: 1 / 2;      
        grid-row:    1 / 3;      
    }

    #card-1 img{
        margin-top: 80px;
    }

    #card-2 {
        grid-column: 2 / 4;      
        grid-row:    1 / 2;
    }

    #card-3 {
        grid-column: 2 / 4;      
        grid-row:    2 / 3;
    }

    #card-4 {
        grid-column: 1 / 3;      
        grid-row:    3 / 4;
    }

    #card-5 {
        grid-column: 3 / 4;      
        grid-row:    3 / 4;
    }




.episodes-section {
    padding: 80px 0;
    max-width: 75%;
    margin: 0 auto;
}

.episodes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;    
    gap: 30px;    
}

.episode-card {
    background: #250D44;
    border-radius: 15px;
    overflow: hidden;
    width: 380px;                   
    height: 440px;                  
}

.video-wrapper {
    position: relative;
    width: 380px;
    height: 214px;
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}


.video-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.18);
    z-index: 1;
    pointer-events: none;
}

.episode-info {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.episode-info h3 {
    font-size: 1.5rem;
    margin: 0 0 16px 0;
    line-height: 1.4;
    font-weight: 700;
}

.episode-info p {
    font-size: 1rem;
    color: white;
    flex-grow: 1;
    margin-bottom: 20px;
}

.meta {
    display: flex;
    align-items: center;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
}

.small-icon {
    width: 15px;
    margin-right: 6px;
    vertical-align: middle;
}




.host-section {
    padding: 60px 0;
}

.host-card {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.host-image{
    width: 300px;
}

.host-image img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.host-content h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.host-content p {
    color: white;
    line-height: 1.6;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    padding: 8px;
    border: 1px solid #533C72;       
    border-radius: 50%;           
    transition: all 0.3s ease;
    box-sizing: border-box;
}


.social-icons img:hover {
    transform: scale(1.1);
}

.footer {
    background-image: url('../assets/footer-bg.png');
    background-size: cover;    
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff; 
    padding: 60px 20px 30px; 
    text-align: center;
    position: relative;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2; 
}

.logo-footer {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
    letter-spacing: -1px;
}



.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 10px;
    margin-bottom: 60px;
}

.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FAFAFA;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 0px 16px;
}

.social-link:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    transform: translateY(-2px); 
}

.footer-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    object-fit: contain;
}



.copyright p {
    color: #FAFAFA;
    font-size: 12px;
    letter-spacing: 0.5px;
}




@media screen and (max-width: 1199px) {
    .container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 576px) {
    
    .nav-links, .desktop-btn {
        display: none; 
    }
    
    .menu-icon {
        display: block; 
    }

    .hero-content h1 {
        font-size: 32px;
    }
    
    .hero-buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .btn-outline {
        margin-left: 0;
    }
    
    .stats-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .features-grid {
       display: flex;
       flex-direction: column;
    }

    #card-1 img{
        margin-top: 0px;
    }

    .episodes-section{
        max-width: 90%;
        margin: 0 auto;
    }
    .episodes-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .episode-card {
        width: 100%;
    }

    .host-card {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .host-image img {
        width: 150px;
        height: 150px;
    }

    .social-icons {
        justify-content: center;
    }

    .footer {
        padding: 40px 15px;
        background-position: center top; 
    }

    .logo {
        font-size: 2rem; 
        margin-bottom: 25px;
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, auto); 
        justify-content: center;
        gap: 20px 25px; 
    }

    .social-link {
        font-size: 15px;
        justify-content: flex-start; 
    }

    .copyright p {
        font-size: 12px;
        margin: 0 auto;
        line-height: 1.5;
    }

    
}